.secondry-button {
    width: 175px;
    height: 48px;
    padding: 10px 24px;
}

header {
    .hero {
        height: 577px;
        background-image: url(./../image/hero.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0 70px;
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 48px;
            line-height: 120%;
            text-transform: capitalize;
            white-space: pre-line;
        }

        p {
            margin: 0 70px;
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            white-space: pre-line;
            color: rgba(85, 85, 85, 1);
        }

        button {
            margin-left: 70px;
        }
    }
}

section{
    margin: 50px 70px;
}

.categories {
    h2 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 1);
    }

    p {
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        /* line-height: 150%; */
        color: rgba(85, 85, 85, 1);
    }

    .card-container {
        gap: 31px;

        .card {
            width: 234px;
            height: 234px;
            gap: 24px;
            border: 1px solid var(--Light_grey, rgba(234, 234, 234, 1));
            border-radius: 24px;
            h5{
                font-family: var(--font-family-1);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: capitalize;
            }
            h6{
                font-family: var(--font-family-2);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
            }
            &:nth-child(2) {
                bottom: 20px;
                h5{
                    color:var(--main-color);
                }
            }
        }


    }
}

.courses{
    h2 {
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 1);
        }
    
        p {
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;
            /* line-height: 150%; */
            color: rgba(85, 85, 85, 1);
        }
        .card-container{
          .card{
            width: 385px;
                height: 474px;
                border-radius: 20px;
                .card-img-top{
                    border-top-right-radius:20px ;
                    border-top-left-radius: 20px;
                 
                }
                .card-body{
                    p{

                    }
                    h5{
                        white-space: pre-line;
                    }
                }
          }
        }
}




@media screen and (max-width : 992px) {
    header {
        .hero {
            margin-top: 20px;
            height: 480px;
            background-image: url(../image/Rectangle\ 88.png);

            h1 {
                margin: 0px;
                font-family: var(--font-family-1);
                font-weight: 600;
                font-size: 32px;
                text-align: center;
                white-space: pre-line;
                text-transform: capitalize;
            }

            p {
                margin: 0px;
                padding: 0 20px;
                font-family: var(--font-family-2);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                white-space: normal;
                text-align: center;

            }

            button {
                margin: 0px auto;
            }
        }

    }
    section{
        margin: 0px;
    }

.categories{
   
    .card-container {
            gap: 31px;
    
            .card {
                width: 234px;
                height: 234px;
                gap: 24px;
                border: 1px solid var(--Light_grey, rgba(234, 234, 234, 1));
                border-radius: 24px;
    
                &:nth-child(2) {
                    bottom: 0px;
                }
            }
    
    
        }
}
}