.secondry-button {
    width: 175px;
    height: 48px;
    padding: 10px 24px;
}



header {
    .hero {
        height: 577px;
        background-image: url(./../../../image/hero.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 0 70px;
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 48px;
            line-height: 120%;
            text-transform: capitalize;
            white-space: pre-line;
        }

        p {
            margin: 0 70px;
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            white-space: pre-line;
            color: rgba(85, 85, 85, 1);
        }

        button {
            margin-left: 70px;
        }
    }
}

section {
    margin: 50px 70px;
}

.categories {
  
    h2 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 1);
    }

    p {
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        /* line-height: 150%; */
        color: rgba(85, 85, 85, 1);
    }

    .card-container {
        gap: 31px;

        .card {
            width: 234px;
            height: 234px;
            gap: 24px;
            border: 1px solid var(--Light_grey, rgba(234, 234, 234, 1));
            border-radius: 24px;
            transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.45s cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;

                transform: scale(1.1);

                h5 {
                    color: var(--main-color);
                }
            }

            h5 {
                font-family: var(--font-family-1);
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                text-transform: capitalize;
            }

            h6 {
                font-family: var(--font-family-2);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
            }


        }


    }
}

.courses {

        h2 {
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            text-transform: capitalize;
            color: rgba(0, 0, 0, 1);
        }
    
        p {
            font-family: var(--font-family-2);
            font-weight: 400;
            font-size: 18px;
            /* line-height: 150%; */
            color: rgba(85, 85, 85, 1);
        }

    .card-container {
        .card {
            width: 385px;
            height: 474px;
            border-radius: 20px;


            .card-img-top {

                border-top-right-radius: 20px;
                border-top-left-radius: 20px;

            }

            h4 {
                font-family: var(--font-family-2);
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-transform: capitalize;
            }

            .card-body {
                .paragraph {
                    font-family: var(--font-family-2);
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                    text-transform: capitalize;
                    color: rgba(85, 190, 36, 1);
                }

                h5 {
                    white-space: pre-line;
                    font-family: var(--font-family-1);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 120%;
                    text-transform: capitalize;
                }


            }
        }
    }
}

.addons {
    height: 324px;
    background-image: url(./../../../image/addOns.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;

    /* background-position: center; */

    h5 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-transform: capitalize;
        color: rgba(85, 85, 85, 1);
    }

    h1 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 32px;
        text-transform: capitalize;

    }

    p {
        font-family: var(--font-family-2);
        font-weight: 400;
        font-size: 18px;
        color: rgba(85, 85, 85, 1);
        white-space: pre-line;
    }

}

.postive-card {
    .card {
        background-color: rgba(245, 245, 245, 1);
        width: 284px;
        height: 161px;

        .card-body {
            h1 {
                color: var(--main-color);
                font-family: var(--font-family-1);
                font-weight: 600;
                font-size: 32px;
                line-height: 120%;
                text-transform: capitalize;
            }

            h6 {
                font-family: var(--font-family-2);
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                text-transform: capitalize;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}

.learnPress {
    img {
        width: 537px;
        height: 469px;
    }

    .detail {
        h1 {
            font-family: var(--font-family-1);
            font-weight: 600;
            font-size: 32px;
            line-height: 120%;
            text-transform: capitalize;
            white-space: pre-line;
        }

        p {
            white-space: pre-line;
        }

        .check {
            img {
                width: 16px;
                height: 16px;
            }

            h6 {
                font-family: var(--font-family-2);
                font-weight: 400;
                font-size: 18px;
                color: rgba(0, 0, 0, 1);
            }
        }
    }
}

.academy {
    height: 250px;
    background-image: url(./../../../image/hero3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;

    .circle {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 1);
        border: 2px solid #ffff;
    }

    h4 {
        font-family: var(--font-family-1);
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        text-transform: capitalize;
    }

    .secondry-button {
        color: var(--main-color);
        border: 2px solid var(--main-color);
    }

    .theard-button {
        width: 219px;
        height: 48px;

    }
}


@media screen and (max-width : 992px) {
    header {
        .hero {
            margin-top: 20px;
            height: 480px;
            background-image: url(./../../../image/Rectangle\ 88.png);

            h1 {
                margin: 0px;
                font-family: var(--font-family-1);
                font-weight: 600;
                font-size: 32px;
                text-align: center;
                white-space: pre-line;
                text-transform: capitalize;
            }

            p {
                margin: 0px;
                padding: 0 20px;
                font-family: var(--font-family-2);
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                white-space: normal;
                text-align: center;

            }

            button {
                margin: 0px auto;
            }
        }

    }

    section {
        margin: 0px;
    }

    .categories {
        .categories-text { 
            text-align: center;
          }
        .card-container {
            gap: 31px;

            .card {
                width: 234px;
                height: 234px;
                gap: 24px;
                border: 1px solid var(--Light_grey, rgba(234, 234, 234, 1));
                border-radius: 24px;

                &:nth-child(2) {
                    bottom: 0px;
                }
            }


        }
    }

    .courses {
        .courses-text {  
            text-align: center;
         }

        .card-container {
            .card {
                width: 320px;
                height: 430px;
            }
        }
    }

    .addons {
        margin-top: 70px;
        height: 400px;
        /* background-size: cover; */
        background-image: url(./../../../image/Vector1.png);
        text-align: center;
        border-radius: 0px;

        p {
            white-space: normal;
            margin: 0px;
            padding: 20px 24px;
        }
    }

    .learnPress {
        margin-top: 70px;
        flex-direction: column-reverse;

        img {
            width: 303px;
            height: 257px;

        }

        .detail {
            h1 {
                white-space: normal;
            }
        }
    }

    .academy {
        margin-top: 70px;
        height: 400px;
        background-image: url(./../../../image/image1-1.png);
        border-radius: 0px;

        .circle {
            width: 80px;
            height: 80px;

            img {
                width: 38px;
                height: 44px;
            }
        }


    }
}